[user]
	name = Daniel Baak
	email = daniel.baak@gmail.com
[alias]
	b      = branch
	st     = status
	ci     = commit
	co     = checkout
	cob    = checkout -b
	d      = diff
	l      = log
	lg     = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
  fixup  = !sh -c 'git commit -a -m \"fixup! $(git log -1 --format='%s' $@)\"' -
  squash = !sh -c 'git commit -a -m \"squash! $(git log -1 --format='%s' $@)\"' -
  ri 		 = rebase --interactive
  rc     = rebase --continue
	mt     = mergetool
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
  pager = true
[core]
	editor = vim
	excludesfiles = .gitignore
  excludes = ~/.gitexcludes
[rebase]
	autosquash = true 
[mergetool "vimdiff"]
    keepBackup = false
    trustExitCode = false
[diff]
    tool = vimdiff	
